<app-modal [isOpen]="isOpen()">
  <div class="delete-modal">
    @if (errorMessage(); as error) {
      <div class="error">
        <p>{{ error }}</p>
        <button type="button" class="btn btn-primary" (click)="close.emit()">Cerrar</button>
      </div>
    } @else {
      <h3>{{ title() }}</h3>
      <p>{{ message() }}</p>
      <div class="delete-modal-actions">
        <button type="button" class="btn btn-secondary" (click)="close.emit()">Cancelar</button>
        <button type="submit" class="btn btn-danger" (click)="delete.emit()">Eliminar</button>
      </div>
    }
  </div>
</app-modal>
