<div>
  <button class="btn btn-secondary back-button" (click)="location.back()">← Entradas</button>
  @if (mode() === 'edit') {
    <app-dish-form
      [isOpen]="true"
      [editDish]="dish()!"
      [categoryId]="dish()!.categoryId"
      (close)="mode.set('view')"
      (created)="finishEditing()"
    />
  } @else if (mode() === 'delete') {
    <app-delete-modal
      [isOpen]="true"
      title="Eliminar plato"
      [message]="`¿Estás seguro de que quieres eliminar &quot;${dish()!.name}&quot;?`"
      (close)="mode.set('view')"
      (delete)="deleteDish(dish()!.id)"
      [errorMessage]="error()"
    />
  } @else {
    @if (error()) {
      <div class="error">
        <p>{{ error() }}</p>
      </div>
    } @else if (dish(); as dish) {
      <article class="menu-dish">
        @if (dish.imageUrl) {
          <img
            [src]="dish.imageUrl"
            [alt]="`Foto de ${dish.name ?? 'plato sin nombre'}`"
            class="dish-image"
          />
        } @else {
          <div class="dish-image-placeholder">
            <p>{{ dish.name ?? 'plato sin nombre' | Initials | uppercase }}</p>
          </div>
        }
        <div class="dish-information">
          <div class="dish-details">
            <h1>
              {{ dish.name ?? 'Plato sin nombre' }}
            </h1>
            <p class="dish-price">{{ dish.price | currency: 'EUR' }}</p>
            <p class="dish-description">{{ dish.description ?? 'Plato sin descripción' }}</p>
          </div>
          <div class="dish-allergens">
            <h2>Alérgenos:</h2>
            <p>{{ dish.allergens }}</p>
          </div>
        </div>
        <div class="dish-actions">
          <button class="btn btn-secondary" (click)="mode.set('edit')">Editar plato</button>
          <button
            class="btn btn-secondary delete-button"
            (click)="mode.set('delete'); error.set('')"
          >
            Eliminar
          </button>
        </div>
      </article>
    } @else {
      <div class="loading">
        <p>Cargando...</p>
      </div>
    }
  }
</div>
