:host {
  display: block;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border);

  .email-logout {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1rem;
      color: var(--text-muted);
    }
  }
}

.layout-content {
  max-width: 87.5rem;
  margin-inline: auto;
  padding: 3rem;
}
