@use '../../shared/breakpoints/breakpoints' as bp;

:host {
  display: block;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border);

  .email-logout {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1rem;
      color: var(--text-muted);
    }
  }
}

.layout-content {
  margin-inline: auto;
  max-width: 87.5rem;
  padding: 3rem;
}

@media (max-width: bp.$breakpoint-mobile) {
  .layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .email-logout {
      span {
        display: none;
      }

      button {
        padding: 0.8rem;
      }
    }
  }

  .layout-content {
    margin-inline: auto;
    max-width: 87.5rem;
    margin-top: 2rem;
    padding: 1rem;
  }
}
