<div>
  <a routerLink="/restaurants" class="btn btn-secondary back-button">← Ir a restaurantes</a>
  @if (menu(); as menu) {
    <header class="menu-header">
      <h1>{{ menu.name }}</h1>
      <p>Gestión de carta</p>
    </header>
    @if (isMobile()) {
      <app-menu-mobile
        [menu]="menu"
        [categoryCount]="categoryCount()!"
        [dishCount]="dishCount()!"
        (openModal)="modal.set(true)"
      />
    } @else {
      <app-menu-desktop
        [menu]="menu"
        [categoryCount]="categoryCount()!"
        [dishCount]="dishCount()!"
        (openModal)="modal.set(true)"
      />
    }
  }
</div>

<app-category-form [isOpen]="modal()" (close)="modal.set(false)" (created)="getRestaurantMenu()" />
