<div>
  <a routerLink="/restaurants" class="btn btn-secondary back-button">← Ir a restaurantes</a>
  @if (menu(); as menu) {
    <header class="menu-header">
      <h1>{{ menu.name }}</h1>
      <p>Gestión de carta</p>
    </header>
    @if (isMobile()) {
      <app-menu-mobile
        [menu]="menu"
        [categoryCount]="categoryCount()!"
        [dishCount]="dishCount()!"
        (createCategoryModal)="modal.set({ type: 'createCategory' })"
        (editCategoryModal)="modal.set({ type: 'editCategory', category: $event })"
        (deleteCategoryModal)="
          modal.set({ type: 'deleteCategory', category: $event }); error.set(null)
        "
        (openDishModal)="modal.set({ type: 'createDish', categoryId: $event })"
      />
    } @else {
      <app-menu-desktop
        [menu]="menu"
        [categoryCount]="categoryCount()!"
        [dishCount]="dishCount()!"
        (createCategoryModal)="modal.set({ type: 'createCategory' })"
        (editCategoryModal)="modal.set({ type: 'editCategory', category: $event })"
        (deleteCategoryModal)="
          modal.set({ type: 'deleteCategory', category: $event }); error.set(null)
        "
        (createDishModal)="modal.set({ type: 'createDish', categoryId: $event })"
        (editDishModal)="
          modal.set({ type: 'editDish', categoryId: $event.categoryId, dish: $event.dish })
        "
        (deleteDishModal)="modal.set({ type: 'deleteDish', dish: $event }); error.set(null)"
      />
    }
  }
</div>

@if (modal(); as activeModal) {
  @if (activeModal.type === 'createCategory') {
    <app-category-form [isOpen]="true" (close)="modal.set(null)" (created)="getRestaurantMenu()" />
  }
  @if (activeModal.type === 'editCategory') {
    <app-category-form
      [isOpen]="true"
      (close)="modal.set(null)"
      (created)="getRestaurantMenu()"
      [editCategory]="activeModal.category"
    />
  }
  @if (activeModal.type === 'deleteCategory') {
    <app-delete-modal
      [isOpen]="true"
      title="Eliminar categoría"
      [message]="
        activeModal.category.dishes.length > 0
          ? `Esta categoría tiene ${activeModal.category.dishes.length} platos asociados. ¿Estás seguro de que quieres eliminarla?`
          : `¿Estás seguro de que quieres eliminar &quot;${activeModal.category.name}&quot;?`
      "
      (close)="modal.set(null)"
      (delete)="deleteCategory(activeModal.category.id)"
      [errorMessage]="error()"
    />
  }
  @if (activeModal.type === 'createDish') {
    <app-dish-form
      [isOpen]="true"
      (close)="modal.set(null)"
      (created)="getRestaurantMenu()"
      [categoryId]="activeModal.categoryId"
    />
  }
  @if (activeModal.type === 'editDish') {
    <app-dish-form
      [isOpen]="true"
      (close)="modal.set(null)"
      (created)="getRestaurantMenu()"
      [categoryId]="activeModal.categoryId"
      [editDish]="activeModal.dish"
    />
  }
  @if (activeModal.type === 'deleteDish') {
    <app-delete-modal
      [isOpen]="true"
      title="Eliminar plato"
      [message]="`¿Estás seguro de que quieres eliminar &quot;${activeModal.dish.name}&quot;?`"
      (close)="modal.set(null)"
      (delete)="deleteDish(activeModal.dish.id!)"
      [errorMessage]="error()"
    />
  }
}
